.main-container {
  width: 100%;
  min-height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef6ff;
}

.form-card {
  width: 300px;
  background: #cde8ff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.form-card h2 {
  margin-bottom: 15px;
  text-align: center;
}

.form-card label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.form-card input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #888;
  margin-top: 5px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-btn,
.submit-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #82d4ff;
  font-weight: bold;
}

.submit-btn {
  background: lightgreen;
}
